<% report.forEach((month, i)=>{ %>
  <div>
    <h2 class="month_title">
      <span class="month_rank"><%= i + 1 %> )</span> -
      <span class="month_key"><%= month.key %></span> - 
      <span class="month_fresh">(<%= (month.fresh / month.pc * 100).toFixed(2) %>%)</span>
    </h2>
    <p>word count: <%= month.wc %></p>
    <p>fresh/post count (<%= month.fresh.toFixed(2) + ' \/ ' +month.pc %>)</p>
    <p>cat counts: 
      <% Object.keys(month.cats).forEach((catName)=>{ %>
        <span><%= catName + ':' + month.cats[catName] %>; </span>
      <% }); %>
    </p>
    <table>
      <tr><th>File Name</th><th>Fresh %</th><th>Word Count</th></tr>
      <% month.posts.forEach((post, i)=>{ %>
        <tr>
          <td><%= post.fn %></td>
          <td class="<%= getFreshClassName(post.fresh); %>"><%= post.fresh.toFixed(2) %></td>
          <td class="<%= getWcClassName(post.wc); %>"><%= post.wc %></td>
        </tr>
      <% }); %>
    </table>
    <hr>
  </div>
<% }); %>