<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="google" content="notranslate">
  </head>
  <body>
     <h1>Fresh By Cat</h1>
     <p>days back: <%= daysBack %></p>
     <% report.cats.forEach(function(cat, i){ %>
        <h2><%= ( i + 1 ) + ') '+ cat.catName %></h2>
        <p class="<%- getFreshClassName(cat.fresh) %>">freshPer: <%= cat.fresh.toFixed(2); %></p>
        <p>
            <span>post count: <%= cat.posts.length; %>; </span><span>
            <span>total wc: <%= cat.wc %>; </span>
            <span>avg wc per post: <span class="<%- getWcClassName(cat.wc / cat.posts.length) %>"><%= Number(cat.wc / cat.posts.length).toFixed(2); %></span>; </span>
        </p>
        <table>
        <tr><th>file name</th><th>fresh</th><th>word count</th><th>Links</th></tr>
        <% cat.posts.forEach(function(post){ %>
            <tr><td><%= post.fn %></td>
            <td class="<%- getFreshClassName(post.fresh) %>"><%= post.fresh.toFixed(2) %></td>
            <td class="<%- getWcClassName(post.wc) %>"><%= post.wc %></td>
            <td><%= post.linkCount %></td></tr>
        <% }); %>
        </table>
        <br>
     <% }); %>
  </body>
</html>